<div *ngIf="post">
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  <small>By {{ post.authorUsername }}</small>
  <app-like-button [postId]="post.id"></app-like-button>
  <button *ngIf="isCurrentUserAuthor()" [routerLink]="['/posts/edit', post.id]">Edit Post</button>
  <button *ngIf="isCurrentUserAuthor()" (click)="deletePost()">Delete Post</button>

  <!-- Comment Form -->
  <input [(ngModel)]="newComment" placeholder="Add a comment">
  <button (click)="addComment()">Submit</button>

  <!-- Display Comments -->
  <div *ngFor="let comment of comments">
    <strong>{{ comment.authorUsername }}</strong>
    <p>{{ comment.content }}</p>
    <button *ngIf="isCurrentUserAuthorOfComment(comment)" (click)="deleteComment(comment.id)">Delete</button>
  </div>
</div>
