<nav class="navbar">
  <ul class="nav-list">
    <ng-container *ngIf="authService.isLoggedIn()">
      <li>
        <a [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li *ngIf="authService.getCurrentUserRole() === 'ROLE_AUTHOR'">
        <a [routerLink]="'/create'" routerLinkActive="active" class="btn">Create Post</a>
      </li>
      <li>
        <button type="button" (click)="authService.logout()" aria-label="Logout">Logout</button>
      </li>
    </ng-container>
    <ng-container *ngIf="!authService.isLoggedIn()">
      <li>
        <a [routerLink]="'/login'" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a [routerLink]="'/register'" routerLinkActive="active">Register</a>
      </li>
    </ng-container>
    <a href="http://localhost:8080/swagger-ui.html" target="_blank">API Docs</a>
  </ul>
</nav>
