<nav class="navbar">
  <div class="left-section">
    <a href="http://localhost:8080/swagger-ui.html" target="_blank" class="api-docs-link">API Docs</a>
  </div>

  <div class="center-section">
    <a routerLink="/" class="logo" routerLinkActive="active">BlogAssignment</a>
  </div>

  <div class="right-section">
    <ul class="nav-list">
      <li *ngIf="authService.isLoggedIn()">
        <div class="user-profile">
          <span class="username">{{ authService.getCurrentUser()?.username }}</span>
          <p class="bio" *ngIf="authService.getCurrentUser()?.bio">
            {{ authService.getCurrentUser()?.bio }}
          </p>
          <a routerLink="/profile" class="btn">Profile</a>
          <button type="button" (click)="authService.logout()" class="btn">Logout</button>
        </div>
      </li>
      <li *ngIf="!authService.isLoggedIn()">
        <a routerLink="/login" class="btn">Login</a>
        <a routerLink="/register" class="btn">Register</a>
      </li>
    </ul>
  </div>
</nav>
